__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.venv/
.env
.ipynb_checkpoints/
.DS_Store
**/data/processed/*
**/data/artifacts/*
**/mlruns/
*.joblib
*.pkl
*.pt
*.h5
*.keras
**/outputs/
